In [1]:
salutation = "Dr."
first_name = "Prisha"
middle_name = "Jai"
last_name = "Agarwal"
suffix = "Ph.D."
print(salutation + " " + first_name + " " + middle_name + " " + last_name + ", " + suffix)

Dr. Prisha Jai Agarwal, Ph.D.

In [2]:
print(salutation, first_name, middle_name, last_name, "," , suffix)

Dr. Prisha Jai Agarwal , Ph.D.

In [3]:
def lucky_number(name):
  number = len(name) * 9
  print("Hello " + name + ". Your lucky number is " + str(number))
  
  
lucky_number("Kay")
lucky_number("Cameron")

Hello Kay. Your lucky number is 27
Hello Cameron. Your lucky number is 63

In [7]:
def replace_domain(email, old_domain, new_domain):
  if "@" + old_domain in email:
    index = email.index("@")
    new_email = email[:index] + "@" + new_domain
    return print(new_email)
  return print(email)

In [11]:
#replace_domain('mmehdi_y@gmai@l.com', 'gmail.com', 'yahoo.ca')
'mmehdi_y@gmai@l.com'.index("@")
'mmehdi_y@gmai@l.com'[:8]+"@"+"yahoo.ca"

'mmehdi_y@yahoo.ca'

In [4]:
def sum_of_integers(n):
  if n < 1:
    return 0


  i = 1
  sum = 0
  while i < n + 1:
    sum = sum + i
    i += 1


  return sum

In [7]:
print(sum_of_integers(5))  # should print 6

15

In [8]:
def multiplication_table(number):
    # Initialize the appropriate variable
    multiplier = 1


    # Complete the while loop condition.
    while multiplier < 6:
        result = number * multiplier 
        if  result > 25:
            # Enter the action to take if the result > 25
            break
        print(str(number) + "x" + str(multiplier) + "=" + str(result))
        
        # Increment the appropriate variable
        multiplier += 1

In [12]:
multiplication_table(8)

8x1=8
8x2=16
8x3=24

In [13]:
for n in range(19):
    if n % 2 == 0:
        print(n)

0
2
4
6
8
10
12
14
16
18

In [14]:
for i in range(0, 100,7): 
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [15]:
input = "Four score and seven years ago"
for c in input:
  if c.lower() in ['a', 'e', 'i', 'o', 'u']:
    print(c)

o
u
o
e
a
e
e
e
a
a
o

In [17]:
1234.slice(2)

SyntaxError: invalid decimal literal (3557059228.py, line 1)

In [ ]:
count = 0

def count_users(group):
  
  for member in get_members(group):
    count += 1
    if is_group(member):
      count += count_users(member)-1
  return count


print(count_users("sales")) # Should be 3
print(count_users("engineering")) # Should be 8
print(count_users("everyone")) # Should be 18

In [18]:
def sum_positive_numbers(n):
    if n < 1:
        return 0
    return n + sum_positive_numbers(n-1)


print(sum_positive_numbers(3)) # Should be 6
print(sum_positive_numbers(5)) # Should be 15

6
15

In [19]:
for n in range(11,-1, -2):
    if n % 2 != 0:
        print(n, end=" ")

11 9 7 5 3 1

In [20]:
# This function will accept two integer variables: the floor
# number that a passenger "enter"s an elevator and the floor
# number the passenger is going to "exit". Then, the function
# counts up or down from the two floor numbers.
def elevator_floor(enter, exit):
    # The "floor" variable will be used as a counter and to  
    # print the floor numbers. The "elevator_direction"
    # variable will hold the string "Going up: " or 
    # "Going down: " plus the count up or down of the 
    # "floor" numbers.
    floor = enter
    elevator_direction = ""

    # If the passenger enters the elevator on a floor that  
    # is higher than the destination floor:
    if enter > exit:
        
        # Then the "elevator_direction" string will be 
        # initialized with the string "Going down: ".
        elevator_direction = "Going down: "

        # While the "floor" number is greater than or  
        # equal to the exit floor number:
        while floor >= exit:
            # The "floor" number is converted to a string 
            # and is appended to the string variable 
            # "elevator_direction".
            elevator_direction += str(floor)

            # If the "floor" number is still greater than  
            # the exit floor number:
            if floor > exit:

                # A pipe | character is added between each  
                # floor number in the string variable  
                # "elevator_direction" to provide a visual  
                # divider between numbers. The if-statement 
                # above (if floor > exit) prevents the pipe 
                # character from appearing after the "floor" 
                # number is no longer greater than the "exit" 
                # variable. 
                elevator_direction += " | "
                
                # Decrement the "floor" number as the elevator 
                # goes down.
            floor -= 1

    # Else, it is implied that the passenger is entering the  
    # elevator on a floor that is lower than the destination 
    # floor.
    else:

        # The "elevator_direction" string will be initialized 
        # with the string "Going up: ".
        elevator_direction = "Going up: "
        
        # While the "floor" number is less than or equal to the 
        # "exit" floor number:
        while floor <= exit:

            # Convert the "floor" number to a string and append 
            # it to the string variable "elevator_direction".
            elevator_direction += str(floor)

            # If the entry floor number is still less than the exit 
            # floor number:
            if floor < exit:

                # The pipe | character is added between each  
                # floor number in the string variable  
                # "elevator_direction" to provide a visual  
                # divider between numbers. The if-statement 
                # above (if floor < exit) prevents the pipe 
                # character from appearing after the "floor" 
                # number is no longer less than the "exit" 
                # variable. 
                elevator_direction += " | "

            # Increments the "floor" number as the elevator goes up.
            floor += 1

    # Returns the string holding the elevator direction (Going down or 
    # Going up) along with the floor countdown or count up.
    return elevator_direction


# Call the function with 2 integer parameters. 
print(elevator_floor(1,4)) # Should print Going up: 1 | 2 | 3 | 4
print(elevator_floor(6,2)) # Should print Going down: 6 | 5 | 4 | 3 | 2

Going up: 1 | 2 | 3 | 4
Going down: 6 | 5 | 4 | 3 | 2

In [27]:
def sequence(low, high):
    # Complete the outer loop range to make the loop run twice
    # to create two rows
    for x in range(low): 
        # Complete the inner loop range to print the given variable
        # numbers starting from "high" to "low" 
        # Hint: To decrement a range parameter, use negative numbers
        for y in range(low, high, -1): 
            if y == low:
                # Donâ€™t print a comma after the last item
                print(str(y)) 
            else:
                # Print a comma and a space between numbers
                print(str(y), end=", ")

In [33]:
for x in range(2):
  for y in range(3, 0, -1):
    if y == 1:
      print(str(y)) 
    else:
      print(str(y), end=", ")

3, 2, 1
3, 2, 1

In [34]:
for i in range(10, 1, -1):
  print(i)

10
9
8
7
6
5
4
3
2

In [25]:
sequence(1, 3)

In [ ]:
def odd_numbers(maximum):
    
    return_string = "" # Initializes variable as a string

    # Complete the for loop with a range that includes all 
    # odd numbers up to and including the "maximum" value.
    for i in range(maximum+1): 

        # Complete the body of the loop by appending the odd number
        # followed by a space to the "return_string" variable.
        if i % 2 != 0:
            
            print(return_string + str(i), end = " ")  

    # This .strip command will remove the final " " space 
    # at the end of the "return_string".
    return return_string.strip()


print(odd_numbers(6))  # Should be 1 3 5
print(odd_numbers(10)) # Should be 1 3 5 7 9
print(odd_numbers(1))  # Should be 1
print(odd_numbers(3))  # Should be 1 3
print(odd_numbers(0))  # No numbers displayed

1 3 5
1 3 5 7 9

1

In [48]:
def counter(start, stop):
    if start > stop:
        return_string = "Counting down: "
        while start >= stop: # Complete the while loop
            return_string +=str(start) # Add the numbers to the "return_string"
            if start > stop:
                return_string += ","
            start -= 1 # Increment the appropriate variable
    else:
        return_string = "Counting up: "
        while start <= stop: # Complete the while loop
            return_string += str(start) # Add the numbers to the "return_string"
            if start < stop:
                return_string += ","
            start +=1 # Increment the appropriate variable
    return return_string


print(counter(1, 10)) # Should be "Counting up: 1,2,3,4,5,6,7,8,9,10"
print(counter(12, 6)) # Should be "Counting down: 2,1"
print(counter(5, 5)) # Should be "Counting up: 5"

Counting up: 1,2,3,4,5,6,7,8,9,10
Counting down: 12,11,10,9,8,7,6
Counting up: 5

In [50]:
def multiplication_table(start, stop):
    # Complete the outer loop range
    for x in range(start, stop+1): 
         # Complete the inner loop range
        for y in range(start, stop+1):
            # Prints the value of "x" multiplied by "y" 
            # and inserts a space after each value
            print(str(x*y), end=" ")
        # An empty print() function inserts a line break at the 
        # end of the row 
        print()


multiplication_table(5, 10)
# Should print the multiplication table shown above

25 30 35 40 45 50
30 36 42 48 54 60
35 42 49 56 63 70
40 48 56 64 72 80
45 54 63 72 81 90
50 60 70 80 90 100

In [36]:
for sum in range(5):
    sum += sum
    print(sum)

0
2
4
6
8

In [37]:
for x in range(10):
    for y in range(x):
        print(y)

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4
0
1
2
3
4
5
0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8

In [38]:
478 //10

47

In [39]:
47 // 10

4

In [40]:
4 // 10

0

In [12]:
animals = "lions tigers and bears"
animals.index("bears")

17

In [13]:
"tigers" in animals

True

In [16]:
"Mountains".upper()

'MOUNTAINS'

In [15]:
"Mountains".lower()

'mountains'

In [17]:
answer = "YES"
if answer.lower() == "yes":
  print("User said yes")

User said yes

In [19]:
" yes ".strip()

'yes'

In [20]:
" yes ".strip()

'yes'

In [21]:
" yes ".lstrip()

'yes '

In [22]:
" yes ".rstrip()

' yes'

In [24]:
"The number of times e occurs in this estring is 4".count("e")

5

In [25]:
"Forest".endswith("rest")

True

In [26]:
"Forest".isnumeric()

False

In [ ]:
"12345".isnumeric()

<>:1: SyntaxWarning: invalid decimal literal
<>:1: SyntaxWarning: invalid decimal literal
/tmp/ipykernel_11338/3956104353.py:1: SyntaxWarning: invalid decimal literal
  12345.isnumeric()

SyntaxError: invalid syntax (3956104353.py, line 1)

In [29]:
int("12345") + int("54321")

66666

In [30]:
" ".join(["This", "is", "a", "phrase", "joined", "by", "spaces"])

'This is a phrase joined by spaces'

In [31]:
"...".join(["This", "is", "a", "phrase", "joined", "by", "triple", "dots"])

'This...is...a...phrase...joined...by...triple...dots'

In [ ]:
"This is another example".split() # return a list

['This', 'is', 'another', 'example']

In [33]:
name = "Manny"
number = len(name) * 3
print("Hello {}, your lucky number is {}".format(name, number))

Hello Manny, your lucky number is 15

In [34]:
name = "Manny"
print("Your lucky number is {number}, {name}.".format(name=name, number=len(name)*3))

Your lucky number is 15, Manny.

In [35]:
price = 7.5
with_tax = price * 1.09
print(price, with_tax)
print("Base price: ${:.2f}. With Tax: ${:.2f}".format(price, with_tax))

7.5 8.175
Base price: $7.50. With Tax: $8.18

In [38]:
def to_celsius(x):
  return (x-32)*5/9

for x in range(0,101,10):
  print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C

In [42]:
price = 1250.5
print(f"Price: ${price:>12,.2f}")

Price: $    1,250.50

In [57]:
def student_grade(name, grade):
	return '{} received  {}% on the exam'.format(name, grade)

print(student_grade("Paige", 92))

Paige received  92% on the exam

In [58]:
print("xyzzy".isalpha())

True

In [59]:
print("xyzz2y".isalpha())

False

In [60]:
test = "How-much-wood-would-a-woodchuck-chuck"
print(test.split("-"))

['How', 'much', 'wood', 'would', 'a', 'woodchuck', 'chuck']

In [62]:
print(test.replace("wood", "plastic"))

How-much-plastic-would-a-plasticchuck-chuck

In [63]:
fruit = "peaches"
weight = 3.0
per_pound = 2.99

output = "{1} are {2} per pound, and you have {0} pounds of {1}.".format(weight, fruit, per_pound)
print(output)

peaches are 2.99 per pound, and you have 3.0 pounds of peaches.

In [64]:
output = "{fruit} are {price} per pound, and you have {weight} pounds of {fruit}.".format(weight=weight, fruit=fruit, price=per_pound)
print(output)

peaches are 2.99 per pound, and you have 3.0 pounds of peaches.

In [73]:
"{:^16.2f}".format(123.45009)

'     123.45     '

In [74]:
"sedrfdfffttff"[:-3]

'sedrfdffft'

In [75]:
"sedrfdfffttff"[-3:]

'tff'

Fill in the blanks to complete the is_palindrome function. This function checks if a given string is a palindrome. A palindrome is a string that contains the same letters in the same order, whether the word is read from left to right or right to left. Examples of palindromes are words like kayak and radar, and phrases like "Never Odd or Even". The function should ignore blank spaces and capitalization when checking if the given string is a palindrome. Complete this function to return True if the passed string is a palindrome, False if not.

In [76]:
def is_palindrome(input_string):
    # Two variables are initialized as string date types using empty 
    # quotes: "reverse_string" to hold the "input_string" in reverse
    # order and "new_string" to hold the "input_string" minus the 
    # spaces between words, if any are found.
    new_string = ""
    reverse_string = ""

    # Complete the for loop to iterate through each letter of the
    # "input_string"
    for letter in input_string:

        # The if-statement checks if the "letter" is not a space.
        if letter != " ":

            # If True, add the "letter" to the end of "new_string" and
            # to the front of "reverse_string". If False (if a space
            # is detected), no action is needed. Exit the if-block.
            new_string += letter
            reverse_string = letter + reverse_string

    # Complete the if-statement to compare the "new_string" to the
    # "reverse_string". Remember that Python is case-sensitive when
    # creating the string comparison code. 
    if new_string.lower() == reverse_string.lower():

        # If True, the "input_string" contains a palindrome.
        return True
		
    # Otherwise, return False.
    return False

In [77]:
print(is_palindrome("Never Odd or Even")) # Should be True

True

In [78]:
print(is_palindrome("abc")) # Should be False

False

In [79]:
print(is_palindrome("kayak")) # Should be True

True

Question 2
Using the format method, fill in the gaps in the convert_distance function so that it returns the phrase "X miles equals Y km", with Y having only 1 decimal place. For example, convert_distance(12) should return "12 miles equals 19.2 km".

In [84]:
def convert_distance(miles):
    km = miles * 1.6 
    result = "{} miles equals {:.1f} km".format(miles, km)
    return result


print(convert_distance(12)) # Should be: 12 miles equals 19.2 km

12 miles equals 19.2 km

In [85]:
def nametag(first_name, last_name):
    return("{}, {:.1s}.".format(first_name, last_name))


print(nametag("Jane", "Smith"))

Jane, S.

The replace_ending function replaces a specified substring at the end of a given sentence with a new substring. If the specified substring does not appear at the end of the given sentence, no action is performed and the original sentence is returned. If there is more than one occurrence of the specified substring in the sentence, only the substring at the end of the sentence is replaced. For example, replace_ending("abcabc", "abc", "xyz") should return abcxyz, not xyzxyz or xyzabc. The string comparison is case-sensitive, so replace_ending("abcabc", "ABC", "xyz") should return abcabc (no changes made).

In [92]:
def replace_ending(sentence, old, new):
    # Check if the old substring is at the end of the sentence 
    if sentence.endswith(old):
        # Using i as the slicing index, combine the part
        # of the sentence up to the matched string at the 
        # end with the new string
        i = len(old)
        new_sentence = sentence[:-i] + new
        return new_sentence


    # Return the original sentence if there is no match 
    return sentence
    
print(replace_ending("It's raining cats and cats", "cats", "dogs")) 
# Should display "It's raining cats and dogs"

It's raining cats and dogs

In [ ]:
"It's raining cats and cats".index()
len('cats')

4

In [93]:
print(replace_ending("The weather is nice in May", "May", "April"))

The weather is nice in April

In [94]:
print(replace_ending("The weather is nice in May", "may", "april"))

The weather is nice in May

In [95]:
def get_word(sentence, n):
	# Only proceed if n is positive 
	if n > 0:
		words = sentence.split()
		# Only proceed if n is not more than the number of words 
		if n <= len(words):
			return(words[n-1])
	return("")

In [98]:
print(get_word("This is a lesson about lists", 4)) # Should print: lesson
#print(get_word("This is a lesson about lists", -4)) # Nothing
#print(get_word("Now we are cooking!", 1)) # Should print: Now
#print(get_word("Now we are cooking!", 5)) # Nothing

lesson

In [99]:
fruits = ["Pineapple", "Banana", "Apple", "Melon"]
fruits.insert(0, "Orange")
print(fruits)

['Orange', 'Pineapple', 'Banana', 'Apple', 'Melon']

In [102]:
fruits = ["Pineapple", "Banana", "Apple", "Melon"]
fruits.insert(0, "Orange")
fruits.insert(25, "Peach")
fruits.remove("Melon")
print(fruits)

['Orange', 'Pineapple', 'Banana', 'Apple', 'Peach']

In [108]:
fruits = ["Pineapple", "Banana", "Apple", "Melon"]
fruits.insert(0, "Orange")
fruits.insert(25, "Peach")
fruits.remove("Melon")
fruits.pop(3) # index number
fruits[2] = "Strawberry"
print(fruits)

['Orange', 'Pineapple', 'Strawberry', 'Peach']

In [1]:
def convert_seconds(seconds):
  hours = seconds // 3600
  minutes = (seconds - hours * 3600) // 60
  remaining_seconds = seconds - hours * 3600 - minutes * 60
  return hours, minutes, remaining_seconds
result = convert_seconds(5000)
hours, minutes, seconds = result
print(hours, minutes, seconds)

1 23 20

In [2]:
def convert_seconds(seconds):
  hours = seconds // 3600
  minutes = (seconds - hours * 3600) // 60
  remaining_seconds = seconds - hours * 3600 - minutes * 60
  return hours, minutes, remaining_seconds
hours, minutes, seconds = convert_seconds(1000)
print(hours, minutes, seconds)

0 16 40

In [5]:
winners = ["Ashley", "Dylan", "Reese"]
for index, person in enumerate(winners):
  print("{} - {}".format(index + 1, person), end = "   ")

1 - Ashley   2 - Dylan   3 - Reese

In [7]:
winners = ["Ashley", "Dylan", "Reese"]
for index, person in enumerate(winners):
  print(f"{index+1} - {person}")

1 - Ashley
2 - Dylan
3 - Reese

In [8]:
def odd_numbers(n):
	return [x for x in range(n+1) if x % 2 != 0]

print(odd_numbers(5))  # Should print [1, 3, 5]
print(odd_numbers(10)) # Should print [1, 3, 5, 7, 9]
print(odd_numbers(11)) # Should print [1, 3, 5, 7, 9, 11]
print(odd_numbers(1))  # Should print [1]
print(odd_numbers(-1)) # Should print []

[1, 3, 5]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1]
[]

In [18]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate new_filenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.


new_filenames = []
for filename in filenames:
    if filename.endswith("hpp"):
        file_list = filename.split(".")
        new_extention = file_list[-1].replace("hpp", "h")
        file_list.pop(-1)
        file_list.append(new_extention)
        new_filename = ".".join(file_list)
        new_filenames.append(new_filename)
    else:
        new_filenames.append(filename)


print(new_filenames)

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

In [ ]:
a = "stdio.hpp".split(".")
a.remove

['stdio', 'hpp']

In [19]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate new_filenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.


new_filenames = []
for filename in filenames:
    if filename.endswith("hpp"):
        filename = filename[:-2]
        new_filenames.append(filename)
    else:
        new_filenames.append(filename)


print(new_filenames)

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

In [21]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate new_filenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
[filename[:-2] if filename.endswith("hpp") else filename for filename in filenames ]  # Start your code here


print(new_filenames)

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

In [34]:
def pig_latin(text):
  say = ""
  # Separate the text into words
  words = text.split(" ")
  for word in words:
    # Create the pig latin word and add it to the list
    
    first_char = word[0]
    word = word[1:]
    new_word = word + first_char + "ay "
    
    
    # Turn the list back into a phrase
    say += new_word
    
    
  return say.rstrip()
    
print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun"))

ellohay owhay reaay ouyay
rogrammingpay niay ythonpay siay unfay

In [30]:
dod = ""
dod + "ali" + " hassan"

'ali hassan'

In [31]:
dod

''

In [37]:
def biography_list(people):
    # Iterate over each "person" in the given "people" list of tuples. 
    for item in people:
      name, age, profession = item 


        # Separate the 3 items in each tuple into 3 variables:
        # "name", "age", and "profession"   
         


        # Format the required sentence and place the 3 variables 
        # in the correct placeholders using the .format() method.
      print("{} is {} years old and works as {}.".format(name, age, profession))




# Call to the function:
biography_list([("Ira", 30, "a Chef"), ("Raj", 35, "a Lawyer"), ("Maria", 25, "an Engineer")])


# Click Run to submit code


# Output should match:
# Ira is 30 years old and works as a Chef.
# Raj is 35 years old and works as a Lawyer.
# Maria is 25 years old and works as an Engineer.

Ira is 30 years old and works as a Chef.
Raj is 35 years old and works as a Lawyer.
Maria is 25 years old and works as an Engineer.

In [38]:
file_counts = {"jpg":10, "txt":14, "csv":2, "py":23}
"jpg" in file_counts

True

In [1]:
file_counts = {"jpg":10, "txt":14, "csv":2, "py":23}
for ext, amount in file_counts.items():
  print("There are {} files with the .{} extension".format(amount, ext))

There are 10 files with the .jpg extension
There are 14 files with the .txt extension
There are 2 files with the .csv extension
There are 23 files with the .py extension

In [2]:
file_counts = {"jpg":10, "txt":14, "csv":2, "py":23}
print(file_counts.items())

dict_items([('jpg', 10), ('txt', 14), ('csv', 2), ('py', 23)])

In [3]:
def count_letters(text):
  result = {}
  for letter in text:
    if letter not in result:
      result[letter] = 0
    result[letter] += 1
  return result
count_letters("aaaaa")
count_letters("tenant")
count_letters("a long string with a lot of letters")

{'a': 2,
 ' ': 7,
 'l': 3,
 'o': 3,
 'n': 2,
 'g': 2,
 's': 2,
 't': 5,
 'r': 2,
 'i': 2,
 'w': 1,
 'h': 1,
 'f': 1,
 'e': 2}

In [7]:
my_dictionary = {"keyA":["value1", "value2"], "keyB":["value3", "value4"]}
len(my_dictionary)
my_dictionary.get("keyA", 123)

['value1', 'value2']

In [9]:
my_dictionary.keys()

dict_keys(['keyA', 'keyB'])

In [10]:
my_dictionary.values()

dict_values([['value1', 'value2'], ['value3', 'value4']])

In [ ]:
my_dictionary["keyA"].append(["value5", "value6", "value7"]) # Append a new value to existing value of a key
my_dictionary

{'keyA': ['value1', 'value2', ['value5', 'value6', 'value7']],
 'keyB': ['value3', 'value4']}

In [ ]:
def email_list(domains):
  emails = []
  for domain, users in domains.items():
    for user in users:
      emails.append(user + "@" + domain)
  
  return(emails)

print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

['clark.kent@gmail.com', 'diana.prince@gmail.com', 'peter.parker@gmail.com', 'barbara.gordon@yahoo.com', 'jean.grey@yahoo.com', 'bruce.wayne@hotmail.com']

In [24]:
def groups_per_user(group_dictionary):
	user_groups = {}
	# Go through group_dictionary
	for key, value in group_dictionary.items():
		# Now go through the users in the group
		for user in value:
			if user not in user_groups.keys():
				user_groups[user] = list(key)
			else:
				user_groups[user].append(key)
			# Now add the group to the the list of
# groups for this user, creating the entry
# in the dictionary if necessary

	return(user_groups)

print(groups_per_user({"local": ["admin", "userA"],"public":  ["admin", "userB"], "administrator": ["admin"] }))

{'admin': ['l', 'o', 'c', 'a', 'l', 'public', 'administrator'], 'userA': ['l', 'o', 'c', 'a', 'l'], 'userB': ['p', 'u', 'b', 'l', 'i', 'c']}

In [37]:
dict_1 = {"local": ["admin", "userA"],"public":  ["admin", "userB"], "administrator": ["admin"] }
dict_2 = {}

#"s" not in dict_2.keys()

for a, b in dict_1.items():
  print(a, b)
  for s in b:
    print(s)
    if s not in dict_2.keys():
      dict_2[s] = [a]
      print(dict_2)
    else:
      dict_2[s].append(a)


print(dict_2)

local ['admin', 'userA']
admin
{'admin': ['local']}
userA
{'admin': ['local'], 'userA': ['local']}
public ['admin', 'userB']
admin
userB
{'admin': ['local', 'public'], 'userA': ['local'], 'userB': ['public']}
administrator ['admin']
admin
{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

In [39]:
wardrobe = {'shirt': ['red', 'blue', 'white'], 'jeans': ['blue', 'black']}
new_items = {'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}
wardrobe.update(new_items)

print(wardrobe)

{'shirt': ['red', 'blue', 'white'], 'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}

In [40]:
class Apple:
    def __init__(self):
        self.color = "red"
        self.flavor = "sweet"

honeycrisp = Apple()
print(honeycrisp.color)

red

In [41]:
class Apple:
    def __init__(self, color, flavor):
        self.color = color
        self.flavor = flavor

honeycrisp = Apple("red", "sweet")
fuji = Apple("red", "tart")
print(honeycrisp.flavor)
print(fuji.flavor)

sweet
tart

In [42]:
"Winter fleece jackets 49.99".split()

['Winter', 'fleece', 'jackets', '49.99']

In [44]:
recent_first = [2022, 2018, 2011, 2006]
recent_first.reverse()
recent_first

[2006, 2011, 2018, 2022]

In [46]:
recent_last = [1989, 1992, 1997, 2001]
recent_last.extend(recent_first)
recent_last

[1989, 1992, 1997, 2001, 2006, 2011, 2018, 2022]

In [47]:
names = ["Carlos", "Ray", "Alex", "Kelly"]
print(sorted(names))
print(names)
print(sorted(names, key=len))

['Alex', 'Carlos', 'Kelly', 'Ray']
['Carlos', 'Ray', 'Alex', 'Kelly']
['Ray', 'Alex', 'Kelly', 'Carlos']

In [58]:
"12s".isnumeric()
" ".isalpha()

False

In [56]:
def format_address(address_string):


    house_number = ""
    street_name = ""


    # Separate the house number from the street name.
    address_parts = address_string.split()
    
    for address_part in address_parts:
       # Complete the if-statement with a string method.  
       if address_part.isnumeric():
         house_number = address_part
       else:
         street_name += address_part + " "
    # Remove the extra space at the end of the last "street_name".
    street_name = street_name.rstrip()
 
    # Use a string method to return the required formatted string.
    return "House number {} on a street named {}".format(house_number, street_name)


print(format_address("123 Main Street"))
# Should print: "House number 123 on a street named Main Street"

House number 123 on a street named Main Street

In [80]:
def string_words(string):
    # Complete the return statement using both a string operation and 
    # a string method in a single line.
    return len(string.split())


print(string_words("Hello, World")) # Should print 2
print(string_words("Python is awesome")) # Should print 3
print(string_words("Keep going")) # Should print 2
print(string_words("Have a nice day")) # Should print 4

2
3
2
4

In [59]:
def alpha_length(string):
    character = ""
    count_alpha = 0
    # Complete the for loop sequence to iterate over "string".
    for char in string: 
        # Complete the if-statement using a string method. 
        if char.isalpha():
            count_alpha += 1  
    return count_alpha
 
print(alpha_length("This has 1 number in it")) # Should print 17
print(alpha_length("Thisisallletters")) # Should print 16
print(alpha_length("This one has punctuation!")) # Should print 21

17
16
21

In [60]:
def alpha_length(string):
    character = ""
    count_alpha = 0
    # Complete the for loop sequence to iterate over "string".
    for character in string: 
        # Complete the if-statement using a string method. 
        if character.isalpha():
            count_alpha += 1  
    return count_alpha
 
print(alpha_length("This has 1 number in it")) # Should print 17
print(alpha_length("Thisisallletters")) # Should print 16
print(alpha_length("This one has punctuation!"))

17
16
21

In [61]:
def sort_distance(distances):
    distances.sort() # Sort the list
    distances.reverse() # Reverse the order of the list
    return distances


print(sort_distance([2,4,0,15,8,9]))
# Should print [15, 9, 8, 4, 2, 0]

[15, 9, 8, 4, 2, 0]

In [132]:
def countries(countries_dict):
    result = ""
    # Complete the for loop to iterate through the key and value items 
    # in the dictionary.
    for value in countries_dict.values():
      
      result += str(value) + "\n"
      
          
        
        
    return result

print(countries({"Africa": ["Kenya", "Egypt", "Nigeria"], "Asia":["China", "India", "Thailand"], "South America": ["Ecuador", "Bolivia", "Brazil"]}))

# Should print:
# ['Kenya', 'Egypt', 'Nigeria']
# ['China', 'India', 'Thailand']
# ['Ecuador', 'Bolivia', 'Brazil']

['Kenya', 'Egypt', 'Nigeria']
['China', 'India', 'Thailand']
['Ecuador', 'Bolivia', 'Brazil']

In [124]:
",".join(["Kenya", "Egypt", "Nigeria"])

'Kenya,Egypt,Nigeria'

In [79]:
def car_listing(car_prices):
  result = ""
  # Complete the for loop to iterate through the key and value items 
  # in the dictionary.
  for key, value in car_prices.items(): 
    result += "A {} costs {} dollars.\n".format(key, value)  # Use a string method to format the required string. 
  return result

print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}))

# Should print:
# A Kia Soul costs 19000 dollars.
# A Lamborghini Diablo costs 55000 dollars.
# A Ford Fiesta costs 13000 dollars.
# A Toyota Prius costs 24000 dollars.

A Kia Soul costs 19000 dollars.
A Lamborghini Diablo costs 55000 dollars.
A Ford Fiesta costs 13000 dollars.
A Toyota Prius costs 24000 dollars.

In [65]:
def combine_guests(guests1, guests2):
  guests2.update(guests1) # Use a dictionary method to combine the dictionaries.
  return guests2

Ricks_guests = { "Adam":2, "Camila":3, "David":1, "Jamal":3, "Charley":2, "Titus":1, "Raj":4}
Tessas_guests = { "David":4, "Noemi":1, "Raj":2, "Adam":1, "Sakira":3, "Chidi":5}

print(combine_guests(Ricks_guests, Tessas_guests))
# Should print:
# {'David': 1, 'Noemi': 1, 'Raj': 4, 'Adam': 2, 'Sakira': 3, 'Chidi': 5, 'Camila': 3, 'Jamal': 3, 'Charley': 2, 'Titus': 1}

{'David': 1, 'Noemi': 1, 'Raj': 4, 'Adam': 2, 'Sakira': 3, 'Chidi': 5, 'Camila': 3, 'Jamal': 3, 'Charley': 2, 'Titus': 1}

In [75]:
def count_letters(text):
  # Initialize a new dictionary.
  dictionary = {} 
  
  # Complete the for loop to iterate through each "text" character and 
  # use a string method to ensure all letters are lowercase.
  for letter in text.lower():   
    # Complete the if-statement using a string method to check if the
    # character is a letter.
    if letter.isalpha():
      # Complete the if-statement using a logical operator to check if 
      # the letter is not already in the dictionary.
      
      if letter not in dictionary.keys(): 
           # Use a dictionary operation to add the letter as a key
           # and set the initial count value to zero.
                     
           dictionary[letter] = 1
           
           
      else:
              
        dictionary[letter] +=1
      # Use a dictionary operation to increment the letter count value 
      # for the existing key.
        
  return dictionary

print(count_letters("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

print(count_letters("Math is fun! 2+2=4"))
# Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

print(count_letters("This is a sentence."))
# Should be {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

{'a': 2, 'b': 2, 'c': 2}
{'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}
{'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

In [133]:
speed_limits = {"street": 35, "highway": 65, "school": 15}
speed_limits["highway"]

65